@font-face {
	font-family: OrchideaPro;
	font-display: swap;
	src: url("../fonts/OrchideaPro-Medium.woff2") format("woff2"), url("../fonts/OrchideaPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
